.toc {
    padding: 5px;
    margin: 0 10px 0 10px;
}
/* Train Operator colours */
/* https://en.wikipedia.org/wiki/Wikipedia:WikiProject_UK_Railways/Colours_list */


.toc-SE {
    background-color: #00afe8;
}

.toc-TL {
    background-color: #e84aba;
}

.trainTime {
    font-weight: bold;
    width: 32pt;
    text-align: center;
    float: left;
}

.trainDestination {
   text-align: center;
}

.trainEtd {
    font-weight: bold;
}

.trainPlatform {
      text-align:center;
}

.trainDepartures {
       width:100%;


}
.trainDepartures tbody tr {
   padding:5px;
   border:1px solid rgb(225,225,225);
}

.trainDepartures tbody td {
   padding:5px;
   text-align:center;
}

.trainDepartures thead th {
   text-align:center;
}
