<h2>Train Departures</h2>
<div ng-controller="TrainDepartureController">
    <h4>{{locationName}}</h4>
    <div role="alert" class="alert alert-warning" ng-if="showMessage">{{message}}</div>
    <div role="alert" class="alert alert-warning" ng-if="!departures.length">No trains yet!</div>
    <table class="trainDepartures">
        <thead>
            <th>Operator</th>
            <th>Destination</th>
            <th>Platform</th>
            <th>Time</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr ng-repeat="service in departures" class="list-unstyled">

                <td class="toc toc-{{service.operatorCode}}">{{service.operator}}</td>
                <td class="trainDestination">{{service.destinationName}}</td>
                <td class="trainPlatform">{{service.platform}}</td>
                <td class="trainTime">{{service.std}}</td>
                <td>
                    <div class="trainEtd">{{service.etd}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
