<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>South London Makerspace Dashboard</title>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <div id="msLogo">&nbsp;</div>
            <h1>South London Makerspace Dashboard</h1>
        </div>
        <div class="row">
            <!--div class="col-md-2" id="for-tubeStatus">

            </div-->
            <div class="col-md-5" id="for-busDepartures">

            </div>
            <div class="col-md-5" id="for-trainDepartures">

            </div>
        </div>
    </div>
</body>

</html>
