html,
body {
    padding: 0;
    margin: 0;
    margin-left: 0px;
    margin-top: 0px;
}


.page-header {
    height: 75px;
    vertical-align: bottom;
}

#msLogo {
    background-image: url(/Logomark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
    width: 75px;
    height: 75px;
    float: left;
    padding: 10px;
    margin-right: 20px;
}
