.nowNextNowEvent {
   font-size:16pt;
}
.nowNextNowEvent h4 {
   font-size:18pt;
}
.nowNextNowEvent p {
   margin-left:25px;
   font-size:12pt;
   padding-bottom:25px;
}
.nowNextNextEvent {
   margin-left:25px;
}
