.busStopHeader {
    position: relative;
    padding: 5px 0 10px 10px;
    padding-left: 35px;
    min-height: 40px;
    padding-right: 70px;
    font-size: 20px;
}

.busStopName {
    font-size: 13pt;
}

.busStopTowards {
    margin: 0;
    padding-top: 4px;
    line-height: 16px;
    font-size: 15px;
}

.busStopHeader>span {
    position: absolute;
    display: block;
    left: 0;
}

.busDepartureBoard {}

.circle-icon {
    margin: 0;
    display: inline-block;
    border-radius: 50%;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    color: #fff;
    height: 32px;
    min-width: 30px;
    line-height: 32px;
    text-align: center;
    padding-top: 2px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 4px;
    overflow: hidden;
    border-radius: 0;
    margin-left: -1px;
}

.circle-icon.red:after {
    background-color: #C33;
}

.circle-icon:after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 24px;
    width: 24px;
    vertical-align: middle;
    height: 24px;
    left: 2px;
    right: 2px;
    z-index: -1;
    top: 3px;
    border-bottom: 2px solid #ccc;
}

ol.busDepartureList {
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

li.busStopDeparture {
    margin: 0;
    padding: 0;
    padding-right: 10px;
    list-style: none;
    line-height: 32px;
    border: 1px solid rgb(225, 225, 225);
    font-family: Arial;
    font-weight: bold;
    height: 32px;
}

.busTimeTill {
    float: right;
}

span.busDestination {
    font-size: 10pt;
    vertical-align: center;
}
small.busDestination {
    font-size: 8pt;
    vertical-align: center;
}

.busNumber {
    background-color: #C33;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 32px;
    height: 30px;
    line-height:32px;
    float: left;
    margin-right: 25px;
}
