<h2>Bus Departures</h2>
<div id="busDepartures" ng-controller="BusDepartureController">
   <div ng-repeat="stop in stops">
      <span class="circle-icon red">{{stop.stopLetter}}</span>
      <span class="busTowards">{{stop.commonName}} towards {{stop.towards}}</span>
      <ul class="busDepartureList" class="busStopDeparture">
         <li ng-repeat="departure in stop.departures" class="list-unstyled">
               <span class="busNumber">{{departure.lineName}}</span>
               <span class="busTowards">{{departure.destination}}</span>
               <span>{{departure.until}} minutes</span>
         </li>
      </ul>
   </div>
</div>
