<h2>Bus Departures</h2>
<div ng-controller="BusDepartureController">
    <div ng-repeat="stop in stops" class="busDepartureBoard">
        <h1 class="busStopName">{{stop.commonName}}</h1>
        <div class="busStopHeader">
            <span class="circle-icon red">{{stop.stopLetter}}</span>
            <p class="busStopTowards"> towards {{stop.towards}}</p>
        </div>
        <ol class="busDepartureList">
            <li ng-repeat="departure in stop.departures" class="busStopDeparture">
                <div class="busNumber">{{departure.lineName}}</div>
                <span class="busDestination">{{departure.destination}}</span>
                <span class="busTimeTill">{{departure.until}} minutes</span>
            </li>
        </ol>
    </div>
</div>
