
<div ng-controller="BusDepartureController" class="row">
   <h2>Bus Departures</h2>
    <div ng-repeat="(stopName, stop) in stops" class="busDepartureBoard">
        <h4 class="busStopName">{{stopName}}</h4>
        <div ng-repeat="station in stop.stations">
            <div class="busStopHeader">
                <span class="circle-icon red">{{station.stopLetter}}</span>
                <p class="busStopTowards"> towards {{station.towards}}</p>
            </div>
            <ol class="busDepartureList">
                <li ng-repeat="departure in station.departures | filter : {closest:true} " class="busStopDeparture">
                    <div class="busNumber">{{departure.lineName}}</div>
                    <small class="busDestination" ng-show="departure.destination.length > 18">{{departure.destination}}</small>
                    <span class="busDestination" ng-show="departure.destination.length <= 18">{{departure.destination}}</span>
                    <span class="busTimeTill">{{departure.until}} mins</span>
                </li>
            </ol>
        </div>
    </div>
</div>
