<h2>What's Happening in the Space</h2>
<div ng-controller="NowAndNextController">
        <div>
            <small class="text-muted">Now</small>
            <div ng-repeat="nowEvent in now" class="nowNextNowEvent">
                <h1 class="display-1">{{nowEvent.summary}}</h1>
                <p class="lead">
                    {{nowEvent.start | date : 'HH:mm'}} - {{nowEvent.end | date : 'HH:mm'}}<br />
                    <span ng-show="now.length==1">
                        {{nowEvent.description}}
                    </span>
                </p>

            </div>
            <div ng-show="!now.length" class="nowNextNowEvent">
                <!-- no events right now -->
                <h1 class="display-1">Nothing in particular</h1>
                <p class="lead">
                    Just members busy making
                </p>
            </div>
        </div>
        <div class="nowNextNext" ng-show="next.length">
            <small class="text-muted">Coming up ...</small>
            <ol class="list-unstyled">
                <li ng-repeat="nextEvent in next | limitTo: 3" class="nowNextNextEvent">
                    <strong>{{nextEvent.summary}}</strong>
                    <p><span>{{nextEvent.start | date : 'd LLLL'}}</span>
                        <span>{{nextEvent.start | date : 'HH:mm'}} - {{nextEvent.end | date : 'HH:mm'}}</span></p>
                </li>
            </ol>
        </div>
</div>
